.header {
    min-width: 100vw;
    font-size: 3.5rem;
    color: white;
    width: 100%;
    /* height: 8rem; */
    background-color: rgb(82, 0, 0);
    margin: 0;
    padding: 0;

}

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.header-button:hover {
    box-shadow: 2px 2px 2px lightgrey;
    cursor: pointer;
}

.header-button {
    margin: 0.15rem;
    padding: 0.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 0.25rem;
}


.header-button-container {
    display: flex;
    flex-direction: row;
}

.header-nav {
    height: 100%;
}

.header-nav-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
}

.header-nav-button {
    background-color: var(--greyblue);
    color: rgb(206, 203, 203);
    font-size: 2rem;
}

.admin-button {
    height: 100%;
}